.navbar{
    height: 70px;
    align-items: center;
}
.smalogo{
    margin-left: 2vw;
    img{
        width: 45px;
    }
}
.total-input{
    margin-left: 10px;
    width: 25vw;
    margin-right: 5vw;
    max-width: 550px;
    margin-bottom: 4px;
}
.input-storer{
    display: flex;
    background-color: blue;
    width:300px;
    background-color:#edf3f8;
    transition: width .5s ease;
    border-radius:4px;

    input{
        height: 40px;
        width: 100%;
        background-color:#edf3f8;
        border:none;
        outline:none
    }
}
.expanded{
    width:28vw;//dont use max -width otherwise transition width wont work
    border:3px solid black;
    input{
        font-size:15px;
    }
}
.search-icon{
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#edf3f8;
}
.modal {
    position: fixed;
    top: 70px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    z-index: 1000; /* Ensure the modal is on top of other content */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .common{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    margin-right: 14px;
    color:grey;
  }
  .common:hover{
    color:black;
  }
  .icons{
    display: flex;
    gap: 0;
    width: 54vw;
    justify-content: space-around;
  }
  .premium{
    width: 90px;
    color:peru;
    text-decoration: underline;
  }
  .premium:hover{
    color:#915907;
  }
  .search-for-small-screen {
    display:none;
  }
  .chat2{
    display:none;
  }
  .three-dots{
    display:none;
  }
  .business{
    border-left: 1px solid grey;
    padding-left: 18px;
  }
  @media(max-width:1200px){
  .total-input{
    display:none;
  }
  .search-for-small-screen{
    display:flex;
    text-align:center;
    margin-left:15px;
  }
  .icons{
    width:90vw;
  }

  }
  @media(min-width:600px) and (max-width:800px){
   .business , .premium{
    display:none;
   }
   .three-dots{
    display:flex;
    color:grey;
   }
   .three-dots:hover{
    color:black;
   }
  }
  @media(max-width:600px){
    .navbar{
      justify-content: space-around;
    }
    .total-input{
      display:block;
      margin:0;
    }
    .total-input{
      width:300px;
      margin-left:0;
    }
    .expanded{
      width:300px;
      transition: smooth;
    }
    .icons{
     display:none;
    }
    .smalogo{
      margin:0;
    }
    .chat2{
      display:block;
      color:grey;
    }
  }